@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap');

$c-main: #314584;
$c-main-hover: #536795;
$c-second: #ff3946;
$c-grey-1: #6e757a;
$c-grey-2: #f4fafe;

$fz-big: 74px;
$fz-medium: 48px;
$fz-avg: 18px;
$fz-small: 14px;

$ff:'Work Sans', ;

body {
	font-family: $ff;
	font-size: $fz-avg;
	font-weight: 400;
	line-height: 1.6;
	color: $c-main;
}

.header {
	margin-bottom: 150px;

	&-content {
		margin-top: 10%;
	}

	&--background {
		position: absolute;
		top: 30px;
		right: 0px;
		width: 575px;
	}
}

.navbar {
	padding-top: 50px;
	align-items: baseline;
	font-weight: 600;

	.navbar__item {
		display: inline-block;
		margin: 0 15px;
		color: $c-main;
		transition: .5s;

		&:hover {
			color: $c-main-hover;
		}
	}

	.contact__button {
		padding: 15px 20px;
		box-shadow: -3px 5px 5px #e0ddea, -1px -2px 3px #e0ddea;
		color: $c-second;
		background-color: #fff;
		font-weight: 600;

		&:hover {
			background-color: $c-second;
			color: #fff;
		}
	}
}

.section {
	padding: 100px 0;

	.footer {
		padding-bottom: 10px;
	}
}

.section--blue {
	background: $c-main;
}


.section-content {

	&__heading {
		font-size: $fz-big;
		font-weight: 600;
		margin-bottom: 2rem;
	}

	&__title {
		font-size: $fz-medium;
		font-weight: 600;
		margin-bottom: 2rem;
	}

	&__subtitle {
		color: $c-grey-1;
		margin-bottom: 2rem;
	}

	.section__information {
		text-transform: uppercase;
		color: $c-second;
		font-weight: 600;
	}
}

.buttons-block {
	align-items: center;
	font-size: $fz-small;

	.section__button {
		padding: 20px 25px;
		text-align: center;
		color: $c-main;
		font-weight: 600;
		transition: .5s;

		&:hover {
			color: $c-main-hover;
		}
	}

	.button__highlighted {
		box-shadow: -1px 5px 3px #ffe6e8;
		color: #fff;
		background: $c-second;
		border-radius: 30px;
		border: solid $c-second;
		transition: .5s;

		&:hover {
			background-color: #fff;
			color: $c-second;
		}
	}

	.button--arrow {
		font-size: $fz-avg;
	}
}

.dropdown-menu {
	background-color: $c-main;

	.dropdown-item {
		font-weight: 600;
		color: #fff;
		text-align: center;
		transition: .5s;

		&:hover {
			background: #fff;
			color: $c-main;
		}
	}
}



.service-block {
	padding: 30px 40px;
	background: #fff;

	&__picture {
		margin-bottom: 60px;
	}

	&__title {
		font-size: 28px;
		font-weight: 600;
	}

	&__text {
		font-size: $fz-small;
	}
}

.shape-left {
	position: relative;

	.background-shape-services {
		position: absolute;
		left: 0;
		top: 17%;
		z-index: -3;
	}

	.background-shape-portfolio {
		position: absolute;
		left: 0;
		top: 17%;
		z-index: -3;
	}
}

.shape-right {
	position: relative;

	.background-shape-about {
		position: absolute;
		right: 0;
		bottom: -17%;
		z-index: -3;
	}
}

.portfolio {
	background: url("../img/portfolio/shape-left.png") left no-repeat;

	&__item {
		display: block;
		margin: 15px 0;
	}

	&--hidden {
		display: none;
	}

	&__btn {
		text-transform: capitalize;
		color: $c-second;
		font-weight: 600;
		background: none;
		margin: auto;
	}

}

.blog {
	background: url("../img/blog/shape-right.png") bottom right no-repeat;
}


.blog-item {
	padding: 40px;
	background: #fff;
	transition: .5s;

	.blog__title {
		font-weight: 600;
	}

	.blog__date {
		font-size: $fz-small;
		color: $c-grey-1;
		margin-bottom: 1.5rem;
		transition: .5s;
	}

	.blog__text {
		margin-bottom: 1rem;
	}

	.button--arrow {
		display: flex;
		justify-content: flex-end;
		
		font-size: 30px;
		font-weight: 400;
		color: $c-second;
		transition: .5s;

		&:hover {
			color: $c-main !important;
		}
	}

	&:hover {
		background: $c-second;
		color: #fff;

		.blog__date {
			color: #fff;
		}
		
		.button--arrow {
			color: #fff;
		}
	}
}


.input-block {
	.input__item {
		padding: 20px;
		margin: 15px 0;
		background: $c-grey-2;
		font-weight: 600;
		color: $c-main;

		&::placeholder {
			color: $c-main;
		}
	}

	.input__item--large {
		height: 200px;
		margin-bottom: 50px;
	}
}



.footer-info {
	color: #fff;
	font-weight: 600;
	text-align: center;

	&__title {
		text-transform: uppercase;
	}
	&__subtitle {
		text-transform: uppercase;
		font-size: $fz-medium;
		color: $c-second;
	}
	&__copyright {
		font-size: $fz-small;
		font-weight: 400;
		margin: 40px 0 20px 0;
	}

	.link-block {
		margin: 20px 0;

		
		.footer-link__item {
			display: inline-block;
			color: #fff;
			margin: 20px;
			transition: .5s;

			&:hover {
				color: $c-second;
			}
		}
		.link--social {
			font-size: $fz-medium;
		}
	}
}